section {
    border: 1px solid gray;
    min-width: 250px;
    margin: 50px;
}

article {
    margin-left: 100px;
    margin-right: 100px;
}

section h2 {
    margin-left: 10px;
    font-weight: bold;
}


/* Colors */

.colors-container {
    margin: 10px;
    text-align: center;
}

.colors-container div {
    display: inline-block;
    width: 32%;
    padding: 5px;
    margin: 10px auto;
    min-width: 200px;
}

.alice-blue {
    background-color: aliceblue;
}

.antique-white {
    background-color: antiquewhite;
}

.aqua {
    background-color: aqua;
}

.aquamarine {
    background-color: aquamarine;
}


/* Fonts */

.fonts-container {
    margin: 10px;
    text-align: left;
}

.fonts-container div {
    display: inline-block;
    width: 32%;
    margin: 10px auto;
    min-width: 150px;
}

.roboto {
    font-family: Roboto;
}

.open-sans {
    font-family: 'Open Sans';
}

.lato {
    font-family: Lato;
}


/* Text Styles */

.text-container {
    margin: 10px;
    width: 100%;
}

.h1-element,
h1 {
    font-weight: bold;
    font-size: 26px;
    font-family: Roboto;
}

.h2-element,
h2 {
    font-weight: 500;
    font-size: 18px;
    font-family: 'Open Sans';
}

.p-element,
p {
    font-weight: 400;
    font-size: 14px;
    font-family: Lato;
}